<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.demo.mapper.AuthorityMapper">

	<!-- 统计数量 -->
	<select id="getAuthorCount" parameterType="cn.com.demo.utils.PageBeanVO" resultType="Integer">
		select count(*) from p_um_authority
		<where>
			<if test="authorityid != null and authorityid != ''">
				and authorityid=#{authorityid}
			</if>
			<if test="authorityname != null and authorityname != ''">
				and authorityname like '%${authorityname}%'
			</if>
		</where>
	</select>

	<!-- 分页查询 -->
	<select id="findAuthorListByPage" parameterType="cn.com.demo.utils.PageBeanVO" resultType="authority">
		select t.* from (select rownum rn,a.* from p_um_authority a
		<where>
			<if test="authorityid != null and authorityid != ''">
				and authorityid=#{authorityid}
			</if>
			<if test="authorityname != null and authorityname != ''">
				and authorityname like '%${authorityname}%'
			</if>
		</where>
		) t
		where t.rn between #{pageSize}*(#{currPage}-1)+1 and #{pageSize}*#{currPage}
	</select>

	<select id="findAuthorityList" resultType="authority">
		select * from p_um_authority
	</select>

	<delete id="delAuthorById" parameterType="java.lang.String">
		delete from p_um_authority where authorityid=#{_parameter}
	</delete>

	<select id="findAuthorById" parameterType="java.lang.String"
		resultType="authority">
		select * from p_um_authority where authorityid=#{_parameter}
	</select>

	<update id="updAuthor" parameterType="authority">
		update p_um_authority
		<set>
			<if test="authorityname != null and authorityname != ''">
				authorityname=#{authorityname},
			</if>
			<if test="descn != null and descn != ''">
				descn=#{descn},
			</if>
			<if test="function != null and function != ''">
				function=#{function},
			</if>
			<if test="code != null and code != ''">
				code=#{code},
			</if>
			<if test="functionname != null and functionname != ''">
				functionname=#{functionname},
			</if>
				enabled=#{enabled},
				issys=#{issys},
			<if test="flaginfo != null and flaginfo != ''">
				flaginfo=#{flaginfo},
			</if>
				update_time=sysdate
		</set>
		where authorityid=#{authorityid}
	</update>
	
	<select id="getAuthorId" resultType="java.lang.String">
		select to_char(sysdate,'yyyymmdd')||seq_author_id.nextval from dual
	</select>
	
	<!-- 添加权限 -->
	<insert id="addAuthor" parameterType="authority">
		insert into p_um_authority
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="authorityid != null and authorityid != ''">
				authorityid,
			</if>
			<if test="authorityname != null and authorityname != ''">
				authorityname,
			</if>
			<if test="descn != null and descn != ''">
				descn,
			</if>
			<if test="function != null and function != ''">
				function,
			</if>
			<if test="code != null and code != ''">
				code,
			</if>
			<if test="functionname != null and functionname != ''">
				functionname,
			</if>
				enabled,
				issys,
			<if test="flaginfo != null and flaginfo != ''">
				flaginfo,
			</if>
				create_time,
				update_time,
		</trim>
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="authorityid != null and authorityid != ''">
				#{authorityid},
			</if>
			<if test="authorityname != null and authorityname != ''">
				#{authorityname},
			</if>
			<if test="descn != null and descn != ''">
				#{descn},
			</if>
			<if test="function != null and function != ''">
				#{function},
			</if>
			<if test="code != null and code != ''">
				#{code},
			</if>
			<if test="functionname != null and functionname != ''">
				#{functionname},
			</if>
				#{enabled},
				#{issys},
			<if test="flaginfo != null and flaginfo != ''">
				#{flaginfo},
			</if>
				sysdate,
				sysdate
		</trim>
	</insert>
	
	<update id="authorEnable" parameterType="authority">
		update p_um_authority set enabled=#{enabled} where authorityid=#{authorityid}
	</update>
</mapper>