<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.demo.mapper.RoleMapper">

  <select id="findRoleList" resultType="role">
  	select * from p_um_role
  </select>
  
  <!-- 获取所有角色的总数 -->
  <select id="getRoleCount" parameterType="role" resultType="Integer">
  	select count(*) from p_um_role
  	<where>
  		<if test="roleid != null and roleid != ''">
			and roleid=#{roleid}
		</if>
		<if test="rolename != null and rolename != ''">
			and rolename like '%${rolename}%'
		</if>
  	</where>
  </select>
  
  <!-- 分页条件查询角色 -->
  <select id="findRoleListByPage" resultType="role">
  	select t.* from(select rownum rn,r.* from p_um_role r 
	<where>
		<if test="roleid != null and roleid != ''">
			and roleid=#{roleid}
		</if>
		<if test="rolename != null and rolename != ''">
			and rolename like '%${rolename}%'
		</if>
	</where>
	) t
  	where t.rn between #{pageSize}*(#{currPage}-1)+1 and #{pageSize}*#{currPage}
  </select>
  
  <delete id="delRoleById" parameterType="java.lang.String">
  	delete from p_um_role where roleid=#{_parameter}
  </delete>
  
  <select id="findRoleById" parameterType="java.lang.String" resultType="role" >
  	select * from p_um_role where roleid=#{_parameter}
  </select>
  
  <update id="updRole" parameterType="role">
  	update p_um_role
  	<set>
  		<if test="rolename != null and rolename !=''">
  			rolename=#{rolename},
  		</if>
  		<if test="descn != null and descn !=''">
  			descn=#{descn},
  		</if>
  		<if test="code != null and code !=''">
  			code=#{code},
  		</if>
  		<if test="flaginfo != null and flaginfo !=''">
  			flaginfo=#{flaginfo},
  		</if>
  		<if test="sort != null and sort !=''">
  			sort=#{sort},
  		</if>
  			enabled=#{enabled},
  			update_time=sysdate
  	</set>
  	where roleid=#{roleid}
  </update>
  
  
  <!-- 添加角色 -->
  <insert id="addRole" parameterType="role">
  	insert into p_um_role
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="roleid != null and roleid !=''">
  			roleid,
  		</if>
  		<if test="rolename != null and rolename !=''">
  			rolename,
  		</if>
  		<if test="descn != null and descn !=''">
  			descn,
  		</if>
  		<if test="code != null and code !=''">
  			code,
  		</if>
  		<if test="flaginfo != null and flaginfo !=''">
  			flaginfo,
  		</if>
  		<if test="sort != null and sort !=''">
  			sort,
  		</if>
  			enabled,
  			create_time,
  			update_time,
  	</trim>
  	<trim prefix=" values(" suffix=")" suffixOverrides=",">
  		<if test="roleid != null and roleid !=''">
  			#{roleid},
  		</if>
  		<if test="rolename != null and rolename !=''">
  			#{rolename},
  		</if>
  		<if test="descn != null and descn !=''">
  			#{descn},
  		</if>
  		<if test="code != null and code !=''">
  			#{code},
  		</if>
  		<if test="flaginfo != null and flaginfo !=''">
  			#{flaginfo},
  		</if>
  		<if test="sort != null and sort !=''">
  			#{sort},
  		</if>
  			#{enabled},
  			sysdate,
  			sysdate
  	</trim>
  </insert>
  
  <!-- 禁用 -->
  <update id="roleEnable" parameterType="role">
  	update p_um_role set enabled=#{enabled} where roleid=#{roleid}
  </update>
  
  <!-- 获取角色id -->
  <select id="getRoleId" parameterType="String" resultType="String">
  	select to_number(max(roleid))+1 from p_um_role 
  </select>
</mapper>