<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.demo.mapper.RoleMapper">

  <select id="findRoleList" resultType="role">
  	select * from p_um_role
  </select>
  
  <delete id="delRoleById" parameterType="java.lang.String">
  	delete from p_um_role where roleid=#{_parameter}
  </delete>
  
  <select id="findRoleById" parameterType="java.lang.String" resultType="role" >
  	select * from p_um_role where roleid=#{_parameter}
  </select>
  
  <update id="updRole" parameterType="role">
  	update p_um_role
  	<set>
  		<if test="roleid != null and roleid !=''">
  			roleid=#{roleid},
  		</if>
  		<if test="rolename != null and rolename !=''">
  			rolename=#{rolename},
  		</if>
  		<if test="descn != null and descn !=''">
  			descn=#{descn},
  		</if>
  		<if test="code != null and code !=''">
  			code=#{code},
  		</if>
  		<if test="flaginfo != null and flaginfo !=''">
  			flaginfo=#{flaginfo},
  		</if>
  		<if test="sort != null and sort !=''">
  			sort=#{sort},
  		</if>
  		<if test="enabled != null and enabled !=''">
  			enabled=#{enabled},
  		</if>
  		<if test="create_time != null and create_time !=''">
  			create_time=#{create_time},
  		</if>
  		<if test="update_time != null and update_time !=''">
  			update_time=#{update_time},
  		</if>
  	</set>
  	where roleid=#{roleid}
  </update>
</mapper>