<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.demo.mapper.UserMapper">
	<!-- 根据用户名获取用户 -->
	<select id="findUserByLoginid" parameterType="java.lang.String" resultType="userCustom">
		select userid,username,loginid,password from p_um_user where loginid=#{_parameter}
	</select>

	<select id="findAuthorListByUserId" parameterType="java.lang.String" resultType="authority">
		select a.authorityid,a.authorityname,a.code from p_um_user u,p_um_role r,p_um_user_role ur,p_um_role_authority ra,p_um_authority a
		where u.userid=ur.userid and r.roleid=ur.roleid and r.roleid=ra.roleid and ra.authorityid=a.authorityid
		and u.userid=#{_parameter}
	</select>

	<!-- 根据条件查询用户表的总数量 -->
	<select id="getUserCount" parameterType="user" resultType="Integer">
		select count(*) from p_um_user
		<where>
			<if test="userid != null and userid != ''">
				and userid=#{userid}
			</if>
			<if test="username != null and username != ''">
				and username like '%${username}%'
			</if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="findUserListByPage" resultType="user">
		select * from (select rownum rn,p_um_user.* from p_um_user
		<where>
			<if test="userid != null and userid != ''">
				and userid=#{userid}
			</if>
			<if test="username != null and username != ''">
				and username like '%${username}%'
			</if>
		</where>
		) t
		where t.rn between #{pageSize}*(#{currPage}-1)+1 and #{pageSize}*#{currPage}
	</select>
	
 <!-- 根据id查找用户 -->
  <select id="findUserById" parameterType="java.lang.String" resultType="user">
    select * from p_um_user where userid=#{_parameter}
  </select>
  <!-- 根据id删除用户 -->
  <delete id="delUserByUserid" parameterType="java.lang.String">
    delete from p_um_user where userid =#{_parameter}
  </delete>
  
  <!-- 获取用户id -->
  <select id="getUserId" resultType="String">
	  select to_char(sysdate,'yyyymmdd')||seq_user_id.nextval from dual
  </select>
  <!-- 插入用户 -->
  <insert id="addUser" parameterType="user">
    insert into p_um_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null and userid != ''">
        userid,
      </if>
      <if test="loginid != null and loginid != ''">
        loginid,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="password != null and password != ''">
        password,
      </if>
      <if test="usertype != null and usertype != ''">
        usertype,
      </if>
        userflag,
        enabled,
        issys,
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null and userid != ''">
        #{userid},
      </if>
      <if test="loginid != null and loginid != ''">
        #{loginid},
      </if>
      <if test="username != null and username != ''">
        #{username},
      </if>
      <if test="password != null and password != ''">
        #{password},
      </if>
      <if test="usertype != null and usertype != ''">
        #{usertype},
      </if>
        #{userflag},
        #{enabled},
        #{issys},
        sysdate,
        sysdate
    </trim>
  </insert>
 <!-- 更新用户 -->
  <update id="updUser" parameterType="user">
    update p_um_user
    <set>
      <if test="loginid != null and loginid != ''">
        loginid=#{loginid},
      </if>
      <if test="username != null and username != ''">
        username=#{username},
      </if>
      <if test="password != null and password != ''">
        password=#{password},
      </if>
      <if test="usertype != null and usertype != ''">
        usertype=#{usertype},
      </if>
        issys=#{issys},
        enabled=#{enabled},
        userflag=#{userflag},
        update_time=sysdate
    </set>
    where userid = #{userid}
  </update>
  	
	<!-- 登录成功之后，添加登录时间和次数+1 -->
	<update id="updLoginInfo" parameterType="java.lang.String">
		update p_um_user set 
		logincount=nvl((select logincount from p_um_user where userid=#{_parameter}),0)+1,
		loginlasttime=sysdate 
		where userid=#{_parameter}
	</update>
	
	<!-- 禁用 /正常-->
	<update id="userEnable" parameterType="user">
		update p_um_user set enabled=#{enabled} where userid=#{userid}
	</update>
	
	<select id="findUserByLoginid2" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from p_um_user where loginid=#{_parameter}
	</select>
	
	<!-- 注册用户 -->
	<insert id="registUser" parameterType="user">
		<selectKey keyColumn="userid" keyProperty="userid" order="BEFORE" resultType="java.lang.String">
			select decode(to_char(sysdate,'yyyymmdd'),
			substr(max(userid),0,8),
			max(userid)+1,
			to_char(sysdate,'yyyymmdd')||lpad(1,6,0)
			) from p_um_user
		</selectKey>
		insert into p_um_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null and userid != ''">
				userid,
			</if>
			<if test="loginid != null and loginid != ''">
				loginid,
			</if>
			<if test="username != null and username != ''">
				username,
			</if>
			<if test="password != null and password != ''">
				password,
			</if>
			create_time
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="userid != null and userid != ''">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="loginid != null and loginid != ''">
				#{loginid,jdbcType=VARCHAR},
			</if>
			<if test="username != null and username != ''">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password != ''">
				#{password,jdbcType=VARCHAR},
			</if>
			sysdate
		</trim>
	</insert>
</mapper>