<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiji.mapper.ItemsMapper">
	<select id="findItemsById" parameterType="Long" resultType="items">
		select * from items where id=#{id}
	</select>
	
	<select id="findItemsList" parameterType="items" resultType="items">
		select * from items 
		<where>
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
			<if test="name != null and name != ''">
				and name=#{name}
			</if>
			<if test="price != null and price != ''">
				and price=#{price}
			</if>
			<if test="detail != null and detail != ''">
				and detail=#{detail}
			</if>
			<if test="pic != null and pic != ''">
				and pic=#{pic}
			</if>
			<if test="createtime != null and createtime != ''">
				and createtime=#{createtime}
			</if>
		</where>
	</select>
	
	<select id="findItemsListAll" resultType="items">
		select * from items 
	</select>
	
	<update id="updItemsById" parameterType="items">
		update items
		<set>
			<if test="name != null and name != ''">
				name=#{name},
			</if>
			<if test="price != null and price != ''">
				price=#{price},
			</if>
			<if test="detail != null and detail != ''">
				detail=#{detail},
			</if>
			<if test="pic != null and pic != ''">
				pic=#{pic},
			</if>
			<if test="createtime != null and createtime != ''">
				createtime=#{createtime},
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>
	
	<insert id="addItems" parameterType="items">
		insert into items
		<trim prefix="(" suffix=")" suffixOverrides=",">
				id,
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="price != null and price != ''">
				price,
			</if>
			<if test="createtime != null and createtime != ''">
				createtime,
			</if>
			<if test="detail != null and detail != ''">
				detail,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
				seq_items_id.nextval,
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="price != null and price != ''">
				#{price},
			</if>
			<if test="createtime != null and createtime != ''">
				#{createtime},
			</if>
			<if test="detail != null and detail != ''">
				#{detail},
			</if>
		</trim>
	</insert>
	
	<delete id="delItems" parameterType="Long">
		delete from items where id=#{id}
	</delete>
</mapper>